:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  
  background: rgb(1, 41, 53);
  color: white;
  text-align: center;
}

.header{
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* ----------------------------about page-------------------------------- */
.about_div{
  margin-top: 120px;
  margin-left:auto;
  margin-right: auto;
  width: 90%;
  display: flex;
}
.about_div img, .about_div div{
width: 50%;
}
@media (max-width:970px) {
  .about_div img, .about_div div{
    width: 100%;
    }
  .about_div{
    text-align: center;
    display: grid;
  }
}
/* ----------------------skills-------------------------- */
.skill_all_div{
  margin-top: 120px;
  width: 100%;
}
.skill_all_div nav{
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px){
  .skill_all_div nav{
    display: grid;
    justify-content: space-evenly;
  }
}